@font-face {
  font-family: "DKCrayonCrumble";
  src: url("./fonts/DKCrayonCrumble.woff") format("woff"),
    url("./fonts/DKCrayonCrumble.woff2") url("woff2");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#content {
  width: 100%;
  background-color: rgb(206, 81, 81);
}

.cake-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cake {
  width: 100%;
}

/* HEADER STYLES */
.header {
  padding-top: 1em;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  position: sticky;
  top: 0;
}

.logo-container {
  display: grid;
  display: grid;
  grid-column: 1/2;
}

.logo {
  height: 4em;
  padding-top: 0.5em;
}

.title {
  font-size: 3rem;
  font-family: "Satisfy", cursive;
  color: #ffffff;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 2;
  grid-row: 3/4;
}
.nav-item {
  color: #ffffff;
  font-family: "Bakbak One", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-item > *:hover,
.footer-nav-item:hover {
  animation: changeColorHomeBtn 0.526s ease-in-out 0s forwards;
}

@keyframes changeColorHomeBtn {
  0% {
    color: #ffffff;
  }
  100% {
    color: rgb(161, 161, 162);
  }
}

/* FOOTER STYLES */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: "Inter Tight", sans-serif;
}
.footer-nav {
  width: 100%;
  display: grid;
  grid: 1fr 1fr/ 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.footer-nav-item {
  padding: 1em;
  color: #ffffff;
  align-self: center;
}

.footer-nav-item > * {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.footer-nav-item a {
  color: #ffffff;
}
.fa-github {
  font-size: 2em;
}
.footer-nav .footer-nav-item:nth-child(1) {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

/* HOME SECTION */
.home-container {
  background-color: #000000c1;
  background-image: url("./img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

.history-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.history-container > * {
  color: #ffffff;
}
.history-container > :nth-child(1) {
  font-family: "Courgette", cursive;
  font-size: 2.6rem;
  text-align: center;
  align-self: end;
  padding: 1em;
}

.history-item {
  width: 20ch;
  padding: 1em;
  display: grid;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  justify-self: center;
}

/* MENU SECTION */

.menu-container {
  background-color: #000000c1;
  background-image: url("./img/board.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em;
  font-family: "DKCrayonCrumble";
}
.menu-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.menu-logo {
  height: 4.8em;
}

.menu-title {
  font-size: 2.4rem;
  padding-bottom: 0.2em;
  border-bottom: 4px solid white;
}
.menu-section {
  margin-top: 1em;
}

.menu-section-title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2em;
}
.menu-image {
  height: 4em;
}

.menu-box {
  margin-top: 2em;
}

.menu-item {
  font-size: 1.8rem;
  color: #657299;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: start;
  line-height: 1.3em;
}
/* CONTACT SECTION */

.contact-container {
  background-color: #000000c1;
  background-image: url("./img/contact-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  display: flex;
  justify-content: center;
}

#contact-form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-title {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
  width: 90%;
  height: 6vh;
  align-self: center;
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #dddada3e;
}

input[type="date"] {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

input[type="submit"] {
  font-family: "Bakbak One", sans-serif;
  width: 8em;
  height: 3em;
  font-size: 1.6rem;
  background-color: rgb(8, 122, 253);
  border: none;
  color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover{
  animation: opacity .354s ease-in 0s forwards; 
}

@keyframes opacity {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0.8;
    font-size: 1.5rem;
    width: 7em;
    height: 2.5em;
  }
}

label {
  align-self: center;
  font-size: 2.4rem;
  font-family: "Bakbak One", sans-serif;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 1024px) {
  .header {
    padding-top: 1em;
    padding-right: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
  }

  .nav {
    width: 100vw;
    grid-column: 1/4;
    justify-items: center;
    align-self: baseline;
  }
  .nav-item {
    width: 10em;
    height: 2em;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
  }
  .title-container {
    display: grid;
    justify-self: start;
  }

  .cake {
    object-fit: cover;
    width: 80%;
    height: 100%;
    box-shadow: 2px 2px 100px #ffffff;
  }

  .home-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .history-item {
    width: 40vw;
  }

  .history-title {
    height: 100%;
    display: grid;
    align-items: center;
    padding-top: 0.5em;
  }
  .footer {
    position: relative;
    bottom: 0;
  }
  .menu-title {
    font-size: 4rem;
}
  .menu-logo {
    height: 6em;
}

  .menu-image {
    height: 5em;
  }

  .menu-section-title {
    font-size: 2.5rem;
  }

  .menu-item{
    font-size: 2.3rem;
  }

  .contact-container {
    background-color: #000000c1;
    background-image: url("./img/contact-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  #contact-form {
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00000076;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 1px 3px 10px #ffffffa4;
    border-radius: 20px;
  }

  .form-title{
    font-size: 3rem;
  }

  .nav-item:focus{
    background-color: #ffff00;
    color:#000000;
  }
}